In [1]:
import pandas as pd

In [4]:
df1 = pd.DataFrame({'NOMBRE': ['Maria', 'Carlos'], 'CARRERA': ['Doctora', 'Futbolista'], 'EDAD': [43, 29]}).set_index('NOMBRE')
df1

           CARRERA  EDAD
NOMBRE
Maria      Doctora    43
Carlos  Futbolista    29

In [5]:
df2 = pd.DataFrame({'NOMBRE': ['Aurora', 'Jose'], 'CARRERA': ['Arquitectura', 'Informatica'], 'EDAD': [33, 25]}).set_index('NOMBRE')
df2

             CARRERA  EDAD
NOMBRE
Aurora  Arquitectura    33
Jose     Informatica    25

In [7]:
#Concatenar dos dataframe
df = pd.concat([df1, df2])
df

             CARRERA  EDAD
NOMBRE
Maria        Doctora    43
Carlos    Futbolista    29
Aurora  Arquitectura    33
Jose     Informatica    25